.header{
    margin:28px 0px 10px
}

.blank{
    margin: 20px 0px 20px;
    border: 1px solid;
    height: 478px;
    width: 100%;
    color: rgb(213, 221, 235);
    background-color: white;
    
}

.list>li{
    color: black;
    font-size: 20px;
    margin: 50px 100px ;
}

.list>li>small{
    color: saddlebrown;
    font-size: 12px;
}

.list>li>button{
    float:right;
}