<nz-layout class="layout">
  

  <nz-content>
    <div>
      <table class="table" style="margin:30px 60px">
        <tr>
          <th>昵称</th>
          <th>类型</th>
          <th>付款方式</th>
          <th>限额</th>
          <th>价格</th>
          <th></th>
        </tr>
        <tr *ngFor="let buy of buys">
          
          
          <td>{{buy.owner}}</td>
          <td>{{buy.crypto}}</td>
          <td>{{buy.payment}}</td>
          <td>{{buy.limit}}</td>
          <td>{{buy.price}}</td>
          <td>
            
              <a routerLink="/orderhome" >
                <button nz-button [nzType]="'primary'" (click)="showoff()">
            <span>购买</span>
                </button>
              </a>
         
        </td>
        </tr>
      </table>

    </div>
  </nz-content>


</nz-layout>


