<div class="content-wrapper">
  <!-- Content Header (Page header) -->

  <!-- Main content -->
  <section >
    <nz-carousel nzAutoPlay >
      <div nz-carousel-content *ngFor="let index of array" style="height:400px">
        <h3>{{index}}</h3>
      </div>
    </nz-carousel>


  </section>
  <!-- /.content -->

  <!-- mid -->
  <!-- <div class="media">
    <a target="_blank" href="http://www.bitcoininsider.org/category/coincola" class="media-item item-2"></a>
    <a target="_blank" href="https://bitcoinexchangeguide.com/coincola/" class="media-item item-3"></a>
    <a target="_blank" href="https://news.bitcoin.com/china-monitors-booming-otc-bitcoin-market-shutting-exchanges/" class="media-item item-4"></a>
    <a target="_blank" href="https://www.forbes.com/sites/leonhardweese/2017/11/29/bitcoin-regulation-in-china-still-unclear-but-chinese-exchanges-thrive-overseas/#6445f5d16487"
      class="media-item item-1"></a>
  </div> -->

  <!-- /mid -->

  <!-- adv -->

  <!-- <div class="item-box container ta-c" style="text-align:center">
    <div class="h3">双向交易 买卖自由 安全可靠</div>
    <div class="h3-more">我们的故事，从CoinOTC开始。
      <a href="/buy" class="link">查看更多广告 →</a>
    </div>
  </div> -->


  <div class="a" style="margin-top:80px">
    <div nz-row>
      <div nz-col [nzSpan]="4" class="b">
        <div class="c">
          <i class="anticon anticon-github"></i>
          <div >
            <ul>
            <li>交易价格:</li>
            <li>交易限额:</li>
            <li>付款方式:</li>
          </ul>
          </div>
        </div>

        <div style="text-align:center">
          <h4 style="margin:30px">购买比特币</h4>
          <hr>
          <ul>
            <li> 交易次数:</li>
            <li>信任人数:</li>
            <li> 好评度:</li>
          </ul>
          <div style="margin:20px">
            <button nz-button [nzType]="'primary'" nzGhost >
             <a routerLink="/information"> <span>购买</span></a>
            </button>
          </div>
        </div>
      </div>

      <div nz-col [nzSpan]="4" class="b">
        <div class="c">
          <i class="anticon anticon-github"></i>
          <div >
            <ul>
            <li>交易价格:</li>
            <li>交易限额:</li>
            <li>付款方式:</li>
          </ul>
          </div>
        </div>

        <div style="text-align:center">
          <h4 style="margin:30px">购买比特币</h4>
          <hr>
          <ul>
            <li> 交易次数:</li>
            <li>信任人数:</li>
            <li> 好评度:</li>
          </ul>
          <div style="margin:20px">
            <button nz-button [nzType]="'primary'" nzGhost>
              <a routerLink="/information"> <span>购买</span></a>
            </button>
          </div>
        </div>
      </div>

      <div nz-col [nzSpan]="4" class="b">
        <div class="c">
          <i class="anticon anticon-github"></i>
          <div >
            <ul>
            <li>交易价格:</li>
            <li>交易限额:</li>
            <li>付款方式:</li>
          </ul>
          </div>
        </div>

        <div style="text-align:center">
          <h4 style="margin:30px">购买比特币</h4>
          <hr>
          <ul>
            <li> 交易次数:</li>
            <li>信任人数:</li>
            <li> 好评度:</li>
          </ul>
          <div style="margin:20px">
            <button nz-button [nzType]="'primary'" nzGhost>
              <a routerLink="/information"> <span>购买</span></a>
            </button>
          </div>
        </div>
      </div>

      <div nz-col [nzSpan]="4" class="b">
        <div class="c">
          <i class="anticon anticon-github"></i>
          <div >
            <ul>
            <li>交易价格:</li>
            <li>交易限额:</li>
            <li>付款方式:</li>
          </ul>
          </div>
        </div>

        <div style="text-align:center">
          <h4 style="margin:30px">购买比特币</h4>
          <hr>
          <ul>
            <li> 交易次数:</li>
            <li>信任人数:</li>
            <li> 好评度:</li>
          </ul>
          <div style="margin:20px">
            <button nz-button [nzType]="'primary'" nzGhost>
              <a routerLink="/information"> <span>购买</span></a>
            </button>
          </div>
        </div>
      </div>

    </div>


  </div>
  <!-- /adv -->



</div>