<header class="main-header">

  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <b>Coin</b>OTC</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">

        <li>
          <a routerLink="/" (click)="showoff()">首页</a>
        </li>
        <li class="dropdown">
          <a class="routing_link" routerLink="/buy"  (click)="showonBuy()"  data-toggle="dropdown">购买
            
          </a>
         
        </li>
        <li class="dropdown">
          <a  [routerLink]="['/sell']"  (click)="showonSell()" data-toggle="dropdown">出售
           
          </a>
         
        </li>
        <li >
          <a [routerLink]="['/adv']" data-toggle="dropdown" (click)="showoff()">发布广告
            
          </a>
          
        </li> 
        
      </ul> 

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a [routerLink]="['/order']" class="dropdown-toggle" data-toggle="dropdown" (click)="showoff()">
            <span style="margin-right:5px" class="glyphicon glyphicon-list-alt" ></span>订单
            <span class="caret" ></span>
          </a>
         
        </li>
        <li class="dropdown">
          <a [routerLink]="['/wallet']" class="dropdown-toggle" data-toggle="dropdown" (click)="showoff()">
            <span style="margin-right:5px" class="glyphicon glyphicon-credit-card" ></span>钱包
            <span class="caret" ></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a [routerLink]="['/user']" class="dropdown-toggle" data-toggle="dropdown" (click)="showoff()">
            <span style="margin-right:5px" class="glyphicon glyphicon-user" ></span>用户中心
            <span class="caret" ></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#">用户中心</a>
            </li>
            <li>
              <a href="#">我的广告</a>
            </li>
            <li>
              <a href="#">退出</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->

</header>

<nz-content *ngIf="showBuy">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;padding-left :100px">
        <li nz-menu-item>
            <a routerLink="/ETHBuy" >
          <strong>ETH</strong>
            </a>        
        </li>
        <li nz-menu-item>
            <a routerLink="/XRPBuy" >
          <strong>XRP</strong>
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink="/XMRBuy" >
          <strong>XMR</strong>
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink="/XLMBuy" >
          <strong>XLM</strong>
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink="/ADABuy" >
          <strong>ADA</strong>
            </a>
        </li>
      </ul>
</nz-content>

<nz-content *ngIf="showSell">
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;padding-left :100px">
      <li nz-menu-item>
          <a routerLink="/ETHSell">
        <strong>ETH</strong>
          </a>        
      </li>
      <li nz-menu-item>
          <a routerLink="/XRPSell">
        <strong>XRP</strong>
          </a>
      </li>
      <li nz-menu-item>
          <a routerLink="/XMRSell">
        <strong>XMR</strong>
          </a>
      </li>
      <li nz-menu-item>
          <a routerLink="/XLMSell">
        <strong>XLM</strong>
          </a>
      </li>
      <li nz-menu-item>
          <a routerLink="/ADASell">
        <strong>ADA</strong>
          </a>
      </li>
    </ul>
</nz-content>