<header class="main-header">

  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">
        <span ><b>Coin</b>OTC</span></a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">

        <li>
          <a routerLink="/" (click)="showoff()" style="color:#e09826">首页</a>
        </li>
        <li >
          <a class="routing_link" routerLink="/buy"  (click)="showonBuy()"  data-toggle="dropdown" style="color:#e09826">购买
            
          </a>
         
        </li>
        <li >
          <a  [routerLink]="['/sell']"  (click)="showonSell()" style="color:#e09826">出售
           
          </a>
         
        </li>
        <li >
          <a [routerLink]="['/adv']"  (click)="showoff()" style="color:#e09826">发布广告
            
          </a>
          
        </li> 
        
      </ul> 

      <ul class="nav navbar-nav navbar-right">

        <li >
          <a [routerLink]="['/order']"  (click)="showoff()">
            <span style="margin-right:5px;color:#e6e0d6" class="glyphicon glyphicon-list-alt" ></span>
            &nbsp;<span style="color:#e09826">订单</span>
          </a>
         
        </li>
        <li  >
          <a [routerLink]="['/wallet']" class="dropdown-toggle" data-toggle="dropdown" (click)="showoff()">
            <span style="margin-right:5p;color:#e6e0d6" class="glyphicon glyphicon-credit-card" ></span>
            &nbsp;&nbsp;&nbsp;<span style="color:#e09826">钱包</span>
            <span style="color:white" class="caret" ></span>
          </a>
          
          <ul class="dropdown-menu" role="menu" style="width:93px">
            <li>
              <a href="#">穷</a>
            </li>
            <li>
              <a href="#">没钱</a>
            </li>
            <li style="padding-bottom:5px">
              <a href="#">告辞</a>
            </li>
           
            
          </ul>
        </li>
        <li >
          <a [routerLink]="['/user']" class="dropdown-toggle" data-toggle="dropdown" (click)="showoff()">
            <span style="margin-right:10px;color:#aaa" class="glyphicon glyphicon-user" ></span>
            <span style="color:#e09826">用户中心</span>
            <span style="color:white" class="caret" ></span>
          </a>
          <ul class="dropdown-menu" style="width:118px">
            <li>
              <a routerLink='/user'>用户中心</a>
            </li>
            <li>
              <a routerLink='/myadv'>我的广告</a>
            </li>
            <li class="divider" style="height:2px"></li>
            <li style="padding-bottom:5px">
              <a routerLink='/logout' >退出</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->

</header>

<nz-content *ngIf="showBuy">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;padding-left :100px">
        <li nz-menu-item>
            <a routerLink="/ETHBuy" >
          <strong>ETH</strong>
            </a>        
        </li>
        <li nz-menu-item>
            <a routerLink="/XRPBuy" >
          <strong>XRP</strong>
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink="/XMRBuy" >
          <strong>XMR</strong>
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink="/XLMBuy" >
          <strong>XLM</strong>
            </a>
        </li>
        <li nz-menu-item>
            <a routerLink="/ADABuy" >
          <strong>ADA</strong>
            </a>
        </li>
      </ul>
</nz-content>

<nz-content *ngIf="showSell">
  <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;padding-left :100px">
      <li nz-menu-item>
          <a routerLink="/ETHSell">
        <strong>ETH</strong>
          </a>        
      </li>
      <li nz-menu-item>
          <a routerLink="/XRPSell">
        <strong>XRP</strong>
          </a>
      </li>
      <li nz-menu-item>
          <a routerLink="/XMRSell">
        <strong>XMR</strong>
          </a>
      </li>
      <li nz-menu-item>
          <a routerLink="/XLMSell">
        <strong>XLM</strong>
          </a>
      </li>
      <li nz-menu-item>
          <a routerLink="/ADASell">
        <strong>ADA</strong>
          </a>
      </li>
    </ul>
</nz-content>