<div class="header">
  <div>
    <h4 style="color:rgba(75, 64, 4, 0.795);text-shadow:5px 5px 5px #888888">
      <strong>身份验证</strong>
    </h4>
    <span style="margin-left:25px">detail</span>
    <i class="anticon anticon-down-square"></i>
  </div>
</div>

<div class="blank">
  <div class="tips">
    <p>
      <i class="anticon anticon-exclamation-circle-o" style="margin-right:10px;color:red"></i>
      为确保交易安全，保障您的合法权益，请您完成身份验证！ 我们提供安全高效实时联网的官方身份认证服务，具有更高级别的安全保护。 身份验证一旦成功，不予修改和解除认证。建议您谨慎选择，真实填写。
    </p>

  </div>
  <div class="verification">
    <div class="done">
      <i class="anticon anticon-idcard"></i>
      <span>身份证</span>
      <button nz-button [nzType]="'primary'" nzGhost>
          <span>已验证</span>
        </button>

    </div>
    <p><i class="anticon anticon-check-circle-o"></i>您已完成证件认证</p>

  </div>

  
</div>