<nz-content>
  <div nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;padding-left :100px">
    <h2></h2>
  </div>
</nz-content>

<div class="content-wrapper">
  

  <nz-layout>
      <div nz-row>
          <div nz-col [nzSpan]="14" class="content">
           <div class="chat">
             <h1>拒绝聊骚</h1>
           </div>
          </div>
          <div nz-col [nzSpan]="10" class="content">
            <div class="information">
              <ul class="list">
                <li>对方昵称：</li>
                <li>币种：</li>
                <li>价格：</li>
                <li>限额：</li>
                <li>支付方式：</li>
              </ul>
            </div>
          </div>
        </div>
      
    </nz-layout>
  
</div>


