<nz-layout class="layout">
  

  <nz-content>
    <div>
      <table class="table" style="margin:10px 80px 0px 80px">
        <tr>
          <th>昵称</th>
          <th>类型</th>
          <th>付款方式</th>
          <th>限额</th>
          <th>价格</th>
          <th></th>
        </tr>
        <tr *ngFor="let sell of sells | async">
          
          
          <td>{{sell.owner}}</td>
          <td>{{sell.crypto}}</td>
          <td>{{sell.payment}}</td>
          <td>{{sell.limit}}</td>
          <td>{{sell.price}}</td>
          <td>
            <button nz-button [nzType]="'primary'" >
              <a routerLink="/information" (click)="showoff()">
            <span>售出</span>
              </a>
          </button>
        </td>
        </tr>
      </table>

    </div>
  </nz-content>


</nz-layout>