<nz-layout class="layout">
  <div nz-row>
      <div style="margin:50px 60px 10px" nz-col [nzSpan]="3">
        <div style="background:#d8901d;padding:8px 20px;box-shadow:5px 5px 5px #888888" >
          <h4 style="color:aliceblue;text-align: center" >用户中心</h4>
        </div >
        <div class="list">
        <div>
          <ul >
            <li style="font-size:20px"><i class="anticon anticon-menu-fold"></i>&nbsp;<strong>出售广告</strong></li>
            <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adsell'> {{msg1}}</a></li>
            <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adsell'> {{msg2}}</a></li>
            <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adsell'> {{msg3}}</a></li>
            <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adsell'> {{msg4}}</a></li>
            <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adsell'> {{msg5}}</a></li>
          </ul>
        </div>
        
        <hr style="color:rgb(149, 218, 177);border:0.5px dotted;margin-left:20px;width:80%">
       
        <div>
          <ul>
              <li style="font-size:20px"><i class="anticon anticon-menu-unfold"></i>&nbsp;<strong>购买广告</strong></li>
              <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adbuy'> {{msg1}}</a></li>
              <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adbuy'> {{msg2}}</a></li>
              <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adbuy'> {{msg3}}</a></li>
              <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adbuy'> {{msg4}}</a></li>
              <li><a style="color:rgba(75, 64, 4, 0.795)" routerLink='./adbuy'> {{msg5}}</a></li>
          </ul>
        </div>
      </div>
      
        </div>
  
        <div nz-col [nzSpan]="16">
          <router-outlet></router-outlet>
  
        </div>
    
    
     
    </div>
    </nz-layout>